{{> navbar user}}

<div class="container">
    <div class="row">
        <div class="col-md">
            <div class="jumbotron">
                {{#if user.username}}
                <h4 class="display-6">{{user.username}}! Squaddle in!</h4>
                {{else}}
                <h4 class="display-6 text-center">Squaddle in!</h4>
                {{/if}}
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md">
            <legend>Upcoming Deployments</legend>
            <div id="deployments">



                {{#each Deploys}}
                <div class="deployment-post-card card text-white bg-primary mb-3">
                    <div class="card-header">
                        <h4 class="text-white">{{title}}</h4>
                    </div>
                    <div class="card-body">
                        <p class="card-text">{{body}}</p>
                        by {{'User.email'}}
                        @ {{createdAt}}
                    </div>
                </div>
                {{/each}}
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md">
            <form class="deployment-post">
                <fieldset>
                    <legend>Available Deployments</legend>
                    <div>
                        {{#each Availabilities}}
                        <li>{{start_time}} - {{end_time}}</li>
                        <button class="addPlayer" data-value={{id}}>SquaddleIN</button>
                        {{/each}}
                    </div>
                </fieldset>
            </form>
            <br />
        </div>
    </div>

    <div class="row">
        <div class="col-md">
            <form class="deployment-post">
                <fieldset>
                    <legend>Send Deploy</legend>

                    <div class="form-group">
                        <label for="title-input">Link</label>
                        <input type="text" class="form-control " id="title-input" aria-describedby="deployHelp"
                            placeholder="Deploy Link">
                        <small id="deployHelp" class="form-text text-muted">Shared!</small>
                    </div>
                    <div class="form-group">
                        <label for="body-input">Chat</label>
                        <textarea class="form-control" id="body-input" name="body"
                            placeholder="Send a message"></textarea>
                    </div>
                    <button type="submit" class="btn btn-primary">SQUADDLE!</button>
                </fieldset>
            </form>
            <br />
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {
        // Getting references to our form and inputs
        const deployForm = $("form.deployment-post");
        const titleInput = $("input#title-input");
        const bodyInput = $("textarea#body-input");

        // When the form is submitted, we validate there's a title and body entered
        deployForm.on("submit", function (event) {
            event.preventDefault();
            console.log(bodyInput.val(), titleInput.val())
            var deployData = {
                title: titleInput.val().trim(),
                body: bodyInput.val().trim()
            };

            if (!deployData.title || !deployData.body) {
                return;
            }


            // If we have a title and password  we run the sendDeploy function and clear the form
            sendDeploy(deployData.title, deployData.body);
            titleInput.val("");
            bodyInput.val("");
        });

        // sendDeploy does a post to our "api/deploy" route and if successful, redirects us the the deployment page
        function sendDeploy(title, body) {
            $.post("/api/deploy", {
                title: title,
                body: body
            })
                .then(function () {
                    window.location.replace("/deploy");
                    // If there's an error, log the error
                })
                .catch(function (err) {
                    console.log(err);
                });
        }
        $(".addPlayer").on("click", function () {
            var playerId = $(this).attr('data-value')
            console.log("Clicked", playerId);

            $.ajax({
                method: "PUT",
                url: "/api/availability/" + playerId
            }).then(function (result) {
                //`location.reload();
            })

        });

    });
</script>