{{> navbar user}}

<div class="container">
    <div class="row static-div">
        <div>
            <h3 class="page-title ">Profile</h3>
        </div>
    </div>
    <div class="row static-div">
        <table class="table table-striped">
            <tr>
                <th class="lead"><span class="font-weight-bold">Username:</span> {{user.username}}</th>
            </tr>
            <tr>
                <th class="lead"><span class="font-weight-bold">Steam ID:</span> {{user.steam_ID}}</th>
            </tr>
            <tr>
                <th class="lead"><span class="font-weight-bold">Steam Name:</span> {{user.steam_name}}</th>
            </tr>
            <tr>
                <th class="lead"><span class="font-weight-bold">Steamp Group:</span> {{user.steam_group}}</th>
            </tr>
            <tr>
                <th class="lead"><span class="font-weight-bold">Discord Invite:</span> <a href="http://www.squaddle.in">{{user.discord_invite}}</a></th>
            </tr>
        </table>
    </div>
</div>