{{> navbar user}}

<div class="container">
    <div class="row">
        <div class="col-md">
            <div class="jumbotron">
                <h4 class="display-6">Profile</h4>
            </div>
        </div>

        <ul class="table">
            <h2> User Info or Whatever</h2>
            <li class="list-group-item">Username: {{user.username}}</li>
            <li>Steam ID: {{user.steam_ID}}</li>
            <li>Steam Name: {{user.steam_name}}</li>
            <li>Steamp Group: {{user.steam_group}}</li>
            <li>Discord Invite: {{user.discord_invite}}</li>
        </ul>


    </div>

</div>